:root {
  --color-green: #50fa7b;
  --color-rocket: #7159c1;
  --background-primary: #111;
  --background-secondary: #222;
  --background-modal: #rgba(0, 0, 0, 0.7);
}

/* === GLOBAL === */
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 0 0 0 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: var(--background-primary);
  font-family: "Roboto", sans-serif;
  padding-bottom: auto;
  height: 100vh;
  width: 100vw;
}

/* === PARTIALS === */
header {
  padding: 0;
  align-items: center;
  text-align: center;
  background: var(--background-secondary);
}

.links {
  text-align: center;
  padding: 34px;
  transition: color 0.2s;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
}

.links a:hover {
  color: var(--color-green);
  transition: color 200ms;
}

#wrapper {
  text-align: center;
  padding: 32px;
  padding-bottom: 0;
}

#wrapper img {
  margin: 0 32px 32px;
  border: 2px solid var(--color-green);
  border-radius: 50%;
  height: 240px;
}

#wrapper h1 {
  margin-bottom: 32px;
  font-size: 42px;
  font-weight: bold;
  line-height: 42px;
}

#wrapper h1 a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

#wrapper h1 a:hover {
  color: var(--color-green);
  transition: color 200ms;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  margin-top: 8px;
  opacity: 0.8;
}

#wrapper p {
  max-width: 500px;
  margin: 32px auto;
  font-size: 18px;
  line-height: 34px;
}

#wrapper p a {
  color: var(--color-green);
}

.tech,
.tech h1 {
  background-color: var(--background-secondary);
  padding: 32px;
  font-size: 42px;
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  border-radius: 8px;
}

#tech-list ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}
#tech-list li {
  text-align: center;
  font-size: 32px;
  list-style-type: none;
}

#tech-images img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#links-footer {
  padding: 30px 0;
  background-color: var(--background-primary);
}

#links-footer a {
  border-bottom: 1px solid var(--color-green);
  text-decoration: none;
}

/* === Cards === */ 
.cards {
  width: 90%;
  height: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-secondary);
  padding: 64px 50px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: border;
}

.card:hover {
  border: 2px solid var(--color-green);
}

.card__image-container img {
  width: auto;
  height: 160px;
}

.card__content,
.card__info {
  padding: 24px;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr;
}

.card__price {
  width: auto;
  background-color: var(--background-primary);
  filter: brightness(90%);
  padding: 20px 80px;
  border-radius: 8px;
  text-align: center;
  transition: color 0.2s, border-color 0.2s;
}

.card__price:hover {
  color: var(--color-green);
}

/* === MODAL === */
.modal-overlay {
  position: relative;
  background-color: var(--background-modal);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}


.modal .navbar .maximize-modal {
  position: absolute;
  background-color: var(--color-green);
  color: var(--background-primary);
  position: absolute;
  right: 40px;
  top: 8px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.modal .navbar .close-modal {
  position: absolute;
  background-color: var(--color-green);
  color: var(--background-primary);
  right: 8px;
  top: 8px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.modal {  
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto; /* vh -> viewport height */
  position: relative;
}


/* === MODAL.ACTIVE === */

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal.maximize {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

iframe {
  color: white;
  position: absolute;
  width: 100%;
  height: 94%;
  top: 7%;
  bottom: 0;
  align-self: center;
}

/* === NOT-FOUND === */
#notfound {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: 100px;
}