{% extends "layout.html" %}

{% block title %}
  <title>Rocketseat | Cursos</title>
{% endblock title %}


{% block content %}
  <div id="wrapper">
    <h1>Cursos</h1>
  </div>

  <section class="cards">
    <div class="card" id="starter">
      <div class="card__image-container">
        <img src="starter.svg" alt="Starter" />
      </div>
      <div class="card__content">
        <p>5 módulos</p>
      </div>
      <div class="card__info">
        <p class="card__price">Gratuito</p>
      </div>
    </div>

    <div class="card" id="launchbase">
      <div class="card__image-container">
        <img src="launchbase.svg" alt="Launchbase" />
      </div>
      <div class="card__content">
        <p>16 módulos</p>
      </div>
      <div class="card__info">
        <p class="card__price">Pago</p>
      </div>
    </div>

    <div class="card" id="gostack">
      <div class="card__image-container">
        <img src="gostack.svg" alt="Gostack" />
      </div>
      <div class="card__content">
        <p>16 módulos</p>
      </div>
      <div class="card__info">
        <p class="card__price">Pago</p>
      </div>
    </div>
  </section>
  
  <div class="modal-overlay">
    <div class="modal">
      <nav class="navbar">
        <a class="maximize-modal">
          <span class="material-icons">
            aspect_ratio
          </span>
        </a>
        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
      </nav>

      <div class="modal-content">
        <iframe class="responsive-iframe" src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <script src="scripts.js"></script>
{% endblock content %}