<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rocketseat</title>

    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="links">
        <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
        <a href="mailto:oi@rocketseat.com.br">Email</a>
        <a href="tel:+4733378901">Telefone</a>
        <a href="/about">Sobre</a>
        <a href="/">Cursos</a>
      </div>
    </header>




  </body>
</html>
