{% extends "layout.njk" %}

{% block title %}
  <title>
    404 Not Found
  </title>
{% endblock title %}

{% block header %}
  <header>
    <div class="links">
      <a href="/">
        <div class="material-icons">
          arrow_back
        </div>
        <p>VOLTAR À HOME</p>
      </a>
    </div>
  </header>
{% endblock header %}

{% block content %}
  <div class="error">
    <h1 id="not-found">
      Ops!
      <br/>
      Essa página não foi encontrada.
      <br/>
      😢
    </h1>
  </div>
{% endblock content %}