{% extends "layout.njk" %}

{% block title %}
  <title>
    404 Not Found
  </title>
{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
  <div class="error">
    <h1 id="not-found">
      Ops!
      <br/>
      Essa página não foi encontrada.
      <br/>
      😢
    </h1>
  </div>
{% endblock content %}