body {
  color: white;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #383a59;
}

header {
  background-color: #282a36;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header nav ul {
  margin: 0;
  list-style-type: none;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  padding: 0 30px;
}

header nav ul li a {
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  padding: 60px;
  display: flex;
  justify-content: center;
}

h1.title {
  color: #ff79c6;
  padding: 0;
  margin: 0;
  font-size: 72px;
  /* display: flex; */
  /* justify-content: center; */
}

h3.subtitle {
  padding: 0;
  margin: 0 0 80px;
  font-size: 28px;
}

section.technologies {
  padding: 80px;
  background-color: #282a36;
}

.links {
  padding: 80px 80px;
}

div.wrap .title,
.links .title {
  font-size: 48px;
  padding: 0 0 10px;
}

.links #links-footer {
  padding: 10px;

  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
}

#links-footer a {
  font-size: 32px;
  padding: 10px;
  color: white;
  border-bottom: 1px solid #ff79c6;
  text-decoration: none;
}

#links-footer a:hover {
  transition: 500ms;
  color: #ff79c6;
}

