{% extends "layout.njk" %}

{% block title %}
  <title>
    404 Not Found
  </title>
{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
  <div class="video">
    <h1 id="not-found">
      Ops! Essa página não foi encontrada! 😢
    </h1>
  </div>
{% endblock content %}